/* not in 0.9 */
.dijitHidden {
	display: none;
}

.dojoxDataIconGrid {
	overflow: auto;
	margin: 0;
	border: 0;
}

.dojoxDataIconGrid .dojoxDataIconGridContainerNode{
	position: relative; /* required to setup context */
}

.dj_ie6 .dojoxDataIconGrid .dojoxDataIconGridVirtualTopNode,
.dj_ie6 .dojoxDataIconGrid .dojoxDataIconGridContainerNode,
.dj_ie6 .dojoxDataIconGrid .dojoxDataIconGridVirtualBottomNode {
	margin: 0;
	border: 0;
	padding: 0;
	overflow: hidden;
}

.dojoxDataIconGrid .dojoxDataIconGridItem {
	float:left;
}

.dojoxDataIconGrid .dojoxDataIconGridRow,
.dojoxDataIconGrid .dojoxDataIconGridVirtualBottomNode {
	clear: left;
}

.dojoxDataIconGrid .dojoxDataIconGridItem {
	margin: 5px;
	width: 100px;
	overflow: hidden;
	/*
	-moz-border-radius: 5px;
	*/
}

.dojoxDataIconGrid .dojoxDataIconGridItemTop {
	background-image: url("images/rounded_corner_top.png");
	background-repeat: no-repeat;
	background-position: top left;
}
.dj_ie6 .dojoxDataIconGrid .dojoxDataIconGridItemTop {
	background-image: url("images/rounded_corner_top.gif");
}

.dojoxDataIconGrid .dojoxDataIconGridItemBottom {
	background-image: url("images/rounded_corner_bottom.png");
	background-repeat: no-repeat;
	background-position: bottom left;
	padding: 5px;
}
.dj_ie6 .dojoxDataIconGrid .dojoxDataIconGridItemBottom {
	background-image: url("images/rounded_corner_bottom.gif");
}

.dojoxDataIconGrid .dojoxDataIconGridItemHovered {
	background-color: #eeeeee;
}

.dojoxDataIconGrid .dojoxDataIconGridItemSelected {
	/*
	border: 3px solid #586878;
	margin: 2px;
	*/
	background-color: #8097AD;
}

.dojoxDataIconGrid .dojoxDataIconGridItemContextMenuOpened {
	margin: 4px;
	border: 1px dotted black;
}


.dojoxDataIconGrid .dojoxDataIconGridItem .dojoxDataIconGridItemThumbnail {
	/*
	margin-top: -1.3em;
	*/
	background-image: url("../../image/resources/images/loading.gif");
	height: 90px;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.dojoxDataIconGrid .dojoxDataIconGridItem .dojoxDataIconGridItemCaption1,
.dojoxDataIconGrid .dojoxDataIconGridItem .dojoxDataIconGridItemCaption2,
.dojoxDataIconGrid .dojoxDataIconGridItem .dojoxDataIconGridItemCaption3 {
	text-align: center;
	font-size: 1em;
	line-height: 1.3em;
	cursor: pointer;
	max-height: 4em;
	overflow: hidden;
}

.dojoxDataIconGrid .dojoxDataIconGridItem .dojoxDataIconGridItemCaption2 {
	color: #999999;
	font-size: 0.8em;
}

.dojoxDataIconGrid .dojoxDataIconGridItem .dojoxDataIconGridItemCaption3 {
	color: #cccccc;
	font-size: 0.8em;
}

.dojoxDataIconGrid .dojoxDataIconGridItem .dojoxDataIconGridItemCaption4 {
	color: #cccccc;
}

.dojoxDataIconGrid .dojoxDataIconGridItemSelected .dojoxDataIconGridItemCaption1 {
	color: #ffffff;
}
.dojoxDataIconGrid .dojoxDataIconGridItemSelected .dojoxDataIconGridItemCaption2 {
	color: #f9f9f9;
}
.dojoxDataIconGrid .dojoxDataIconGridItemSelected .dojoxDataIconGridItemCaption3 {
	color: #f7f7f7;
}
